/* ### New Multitouch Microsite ### */

html, body {
	background-color: #F3857E;
	color:#fff;
	height: 100%;
	margin:0;
	padding:0; 
	position:relative;
	width: 100%;
	font-family: 'Lato', san-serif;
}

#downloadicon, #ideumicon, #socialicon, #tableicon {
	display:inline-block;
}
#ideumicon { /* fix the offset of the image - alternatively we could trim the original image file */
  position:relative;
  left:-18px;
}
#downloadicon img, #socialicon img, #tableicon img { /* standardize the size of the icons in header */
 width:64px;
}
#downloadicon:hover img, #ideumicon:hover img, #socialicon:hover img, #tableicon:hover img { /* add hover state  */
 opacity:0.5;
}

/* default values for arrow display */
#dig_deeper, #down_arrow, #up_arrow {
	height:59px;
	visibility:hidden;
}

#dig_deeper.on, #down_arrow.on, #up_arrow.on {
	visibility:visible;
}

#up_arrow:hover, #down_arrow:hover {
	cursor:pointer;
	opacity:0.5;
}
#dig_deeper p {
	position: relative;
  right: -1em;
}

#skip_animation {
	position: fixed;
	top: 10%;
	text-align: center;
	color: white;
	z-index:3;
	cursor: pointer;
	width: 100%;
}

#svg {
	background-color:rgb(243,112,104);
	position:fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	width:100%;
	height:100%;
	margin: 0;
	padding: 0;
	z-index:2;
}

#Layer_1 {
	fill:white;
}

video {
	background-image:url("/images/background.png");
	height:auto;
	min-height:100%;
	min-width:100%;
	position:fixed;
		top: 0; right: 0; bottom: 0; left: 0;
	width:auto;
	z-index:1;
}

#starting_links {
	padding-top:20px;
}

#content-block {
  height:30%;
  margin:auto;
	padding-top:50px;
	position:absolute;
    top: 0; right: 0; bottom: 0; left: 0;
}

#content-information {
	height:100%;
}

#ready_start {
	position: absolute;
	top: 240%;
	width:20%;
	left:40%;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	color: white;
}

#inquiry, #sales {
	cursor: pointer;
}

#text-block {
	border-bottom-color:white;
	border-bottom-width:2px;
	padding:0 0 10px 0;
	position: fixed;
    top: 30%;
}

#utility {
	text-align: right;
}

/* ### begin clearfix helper class ### */
.clearfix:after {
	visibility:hidden;
	display:block;
	font-size:0;
	content:" ";
	clear:both;
	height:0;
}

.clearfix { 
	display:inline-block; 
}
/* start commented backslash hack for clearfix \*/
* html .clearfix { 
	height:1%; 
}

.clearfix { 
	display:block; 
}
/* close commented backslash hack for clearfix */
/* ### end clearfix helper class ### */

#scrollnav {
	height:183px;
	margin:auto;
	position: fixed;
		top: 0; right: 0; bottom: 0; /* do not set left value */
	text-align: right;
}

/* begin settup of fixed sections vertical offsets */

#content-display {
  height: 100%;
  position: fixed;
  	top: 0%;
  width: 100%;
}

#starting_links {
	position:fixed;
	width:100%;
}

.text-display {
	position:relative;
		top:30%;
	visibility:hidden;
}
/* end settup of fixed sections vertical offsets */


/* ### begin #tablemenu styles ### */
#menu {
  height: 100%;
  position: fixed;
}
.nav { /* aka tablemenu */
	background-color:transparent;
	color:#fff;
	position:fixed;
		top:30%;
	transition: all 0.25s ease;
}

#tablemenu ul {
	list-style:none;
}

/* defualt values for viewability of sub-navigation */
#tablemenu ul li ul  {
	display:none;
}

#tablemenu ul li a {
	color:#fff;
	text-transform:uppercase;
}

#tablemenu ul li.on {
	color:#666;
	font-weight:bold; /*temp use only*/
}

#tablemenu ul li.on ul {
	display:block;
}

#tablemenu ul li.on ul li {
	color:#fff;
	font-weight:normal; /*temp use only*/
}

#section1navitem2 {
	border-top-color: white;
	border-top-style: solid;
	border-top-width: 2px;
}

#section1navitem2.on {
	font-family: 'Lato Black', san-serif;
}

#section1navitem2.on::before {
	content: ">\00a0\00a0";
}

#section1navitem3.on {
	font-family: 'Lato Black' san-serif;
}

#section1navitem3.on::before {
	content: ">\00a0\00a0";
}

#section1navitem3 {
	border-bottom-color: white;
	border-bottom-style: solid;
	border-bottom-width: 2px;
}

	/* starting (section1) values for viewability of sub-navigation - show #section1navitemsub-navigation only */
	#tablemenu.section1 ul li#section1navitem ul  {
		display:block !important;
	}
	#tablemenu.section1 ul li#section2navitem ul  {
		display:none;
	}
	#tablemenu.section1 ul li#section3navitem ul  {
		display:none;
	}

	/* section2 values for viewability of sub-navigation - show #section2navitem sub-navigation only */
	#tablemenu.section2 ul li#section1navitem ul  {
		display:none;
	}
	#tablemenu.section2 ul li#section2navitem ul  {
		display:block;
	}
	#tablemenu.section2 ul li#section3navitem ul {
		display:none;
	}

	/* section3 values for viewability of sub-navigation - show #section3navitem sub-navigation only */
	#tablemenu.past-section3 ul li#section1navitem ul  {
		display:none;
	}
	#tablemenu.section3 ul li#section2navitem ul  {
		display:none;
	}
	#tablemenu.section3 ul li#section3navitem ul {
		display:block;
	}
/* ### end menu styles ### */

#section1, #section2, #section3  {
	background-image:none;
	background-size:cover;
	height:100vh;
	transition:background 0.5s linear;
}
#section1 {
	background-image:url('/images/background.png');
	position:inherit;
}
#section2 {
	background-image:url('/images/background.png');
	position:inherit;
}
#section3 {
	background-image:url('/images/background.png');
	position:inherit;
}

#gallery {
	height:100%;
}
#gallery .one-fourth {
	float:left;
	height:100%;
	overflow:hidden;
}
.one-fourth a.touchme {
	background-image:url('/images/clickme.png');
	width:140px;
}

#fish-n-ships {
	background-image:url('/images/gallery/fish-n-ships.jpg');
	background-size:cover;
	background-position:center;
	width:25%;
}
#welding {
	background-image:url('/images/gallery/welding.jpg');
	background-size:cover;
	background-position:center;
	width:25%;
}
#gestures{
	background-image:url('/images/gallery/gestures.jpg');
	background-size:cover;
	background-position:center;
	width:25%;
}
#bugged {
	background-image:url('/images/gallery/bugged.jpg');
	background-size:cover;
	background-position:center;
	width:25%;
}

.one-fourth img {
	display:none;
	position:relative;
}
/*
.one-fourth:hover span {
	-webkit-box-shadow: 0 0 20px rgba(0,0,0, .75));
	-moz-box-shadow: 0 0 20px rgba(0,0,0, .75);
	box-shadow: 0 0 20px rgba(0,0,0, .75);
  display:block;
	height: 100%;
	overflow: hidden;
	position: absolute;
  	top:0; right:15%; bottom:0; left:30%;
  width: 40%;
  z-index: 999;
}
*/